<div class="tweet ui basic modal">
  <i class="circular purple inverted close icon"></i>
  <div class="header"></div>
  <div class="content">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="bottom">
    <div class="created_at"></div>
    <div class="retweet_count">
      <i class="large retweet forward icon"></i>
      <span></span>
    </div>
    <div class="favorite_count">
      <i class="large star icon"></i>
      <span></span>
    </div>
    <div class="sentiment"></div>
  </div>
  <div class="actions">
    <div class="one fluid ui buttons">
        <div class="ui positive labeled icon button">
          Done
          <i class="checkmark icon"></i>
        </div>
      </div>
  </div>
</div>