/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body {
  margin: 0;
  background-color: #222;
 }

 #navigation.menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
 }

#content {
  margin-top: 60px;
  color: #eee;
}

a {
  text-decoration: none;
  color: #F05940;
}

a:hover {
  color: #6ECFF5;
}