// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content .ui.header .sub.header {
  color: #888;
}

.content .ui.header {
  margin-left: 10px;
}

.tweets .item {
  min-height: 220px !important;
  background-color: #f4f4f4 !important;
  .content > .description {
    color: #777 !important;
  }
  overflow: hidden;
  .extra {
    display: none;
  }
}
.tweet_divider.ui.clearing.divider {
  border-color: transparent !important;
}

.tweet.ui.basic.modal {
  .left {
    font-size: 3em;
  }
  .right {
    font-size: 1.5em;
  }
  .bottom {
    margin: 5px 35px;
    div {
      display: inline-block;
    }
  }
}

#tweets_search {
  .left {
    display: inline-block;
    float: left;
  }
  .right {
  }
}